@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';

@import 'font-awesome-sprockets';
@import 'font-awesome';
@import '_fonts';

@import 'libs/landed';

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

img.person-thumbnail {
  width: 100px;
  height: 100px;
  float: right;
}

ul.people-list {
  padding-left: 0em;
}

ul.people-list li {
  list-style-type: none;
}

ul.people-list li:nth-child(5n) {
  padding-bottom: 1em;
}

span.stars {
  color: _palette(accent5);
}