|--- #{"\n"}
|blog: directory #{"\n"}
|date: 2018-01-01 00:01 UTC  #{"\n"}
|tags: #{tags} #{"\n"}
|title: #{title} #{"\n"}
|description: >
  #{title}'s profile page.
  XSCALE: A learning ecosystem for eXponential Simple Continuous Autonomous Learning Ecosystems #{"\n"}
|image: '/img/pic01.png' #{"\n"}
|linkedin: #{linkedin} #{"\n"}
|github: #{github} #{"\n"}
|twitter: #{twitter} #{"\n"}
|contact: #{contact} #{"\n"}
|--- #{"\n"}

= short_bio